{% extends 'base.html.twig' %}
{% block body %}

    <div class="locationsContent">

        <div class="titles titlewhite">
            <span><img class="truckDraw" src="assets/images/chalkflag.png"></span>
            <h1>Mon planning</h1>
            <span><img class="truckDraw" src="assets/images/chalkflag.png"></span>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 page">
                    <div class="pageHead">
                        Mardi
                    </div>
                    <div class="pageBody">
                        <div class="houram">
                            12h - 14h
                        </div>
                        <div class="locationam">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                        <br/>
                        <div class="hourpm">
                            18h - 21h
                        </div>
                        <div class="locationpm">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 page">
                    <div class="pageHead">
                        Mercredi
                    </div>
                    <div class="pageBody">
                        <div class="houram">
                            12h - 14h
                        </div>
                        <div class="locationam">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                        <br/>
                        <div class="hourpm">
                            18h - 21h
                        </div>
                        <div class="locationpm">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 page">
                    <div class="pageHead">
                        Jeudi
                    </div>
                    <div class="pageBody">
                        <div class="houram">
                            12h - 14h
                        </div>
                        <div class="locationam">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                        <br/>
                        <div class="hourpm">
                            18h - 21h
                        </div>
                        <div class="locationpm">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12 page">
                    <div class="pageHead">
                        Vendredi
                    </div>
                    <div class="pageBody">
                        <div class="houram">
                            12h - 14h
                        </div>
                        <div class="locationam">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                        <br/>
                        <div class="hourpm">
                            18h - 21h
                        </div>
                        <div class="locationpm">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 page">
                    <div class="pageHead">
                        Dimanche
                    </div>
                    <div class="pageBody">
                        <div class="houram">
                            12h - 14h
                        </div>
                        <div class="locationam">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                        <br/>
                        <div class="hourpm">
                            18h - 21h
                        </div>
                        <div class="locationpm">
                            Parking de Carrefour Market, Orléans/St Pryvé, Avenue de St Mesmin
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
