{% extends 'base.html.twig' %}
{% block body %}
    <div class="well">
        <h3 style="padding-top: 100px">Envoyer un fichier pour la partie carte :</h3>
        <label for="Pizza tomate">Pizza tomate</label>
        <form action="index.php?route=uploadMenuPT" method="post" enctype="multipart/form-data">
            <input type="file" multiple="multiple" name="fichier[]"/><br/>
            <p>Uniquement les images au format png sont acceptées !</p>
            <button class="btn btn-success btn-xs" name="submit1" type="submit" value="Envoyer">Envoyer</button>
        </form><hr>
        <label for="Pizza tomate">Pizza crème</label>
        <form action="index.php?route=uploadMenuPC" method="post" enctype="multipart/form-data">
            <input type="file" multiple="multiple" name="fichier[]"/><br/>
            <p>Uniquement les images au format png sont acceptées !</p>
            <button class="btn btn-success btn-xs" name="submit2" type="submit" value="Envoyer2">Envoyer</button>
        </form><hr>
        <form action="index.php?route=uploadMenu" method="POST">
                {% for file in files %}
                    <img src="assets/upload/Menu/{{ file }}">
                    <input type="hidden" name="idDelete" value="{{ file }}" />
                    <input type="submit" name="delete" class="btn btn-danger btnn btn-xs" role="button" value="Supprimer">
                {% endfor %}
        </form>
    </div>
{% endblock %}