{% extends 'base.html.twig' %}
{% block body %}

<div class="carouselFixed">
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active item1">
                        <img src="../images/pizzaZoom.JPG" alt="Los Angeles">
                    </div>

                    <div class="item item2">
                        <img src="../images/proprios.JPG"
                             alt="Chicago">
                    </div>

                    <div class="item item3">
                        <img src="http://www.ternascodearagon.es/wp-content/uploads/2015/11/Bocadillo-TA-Bandera-Irlandesa.jpg"
                             alt="New york">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baudi">
    <div class="titles">
        <h1>Mon histoire</h1>
    </div>
    <div class=" aboutUs">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.
        </p>
    </div>
    <div class="titles">
        <h1>Nouveautés</h1>
    </div>
    <div>
        <img src="assets/images/tomato.png" class="img-tomato"/>
        <img src="assets/images/olives.png" class="img-olives"/>
        <img src="assets/images/poivrons.png" class="img-peppers"/>
        <img src="assets/images/oignons.png" class="img-onions"/>
    </div>
    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="media">
                    <div class="col-md-offset-1 col-md-4 img-news">
                        <img class="media-object img-responsive news-img" src={{ home.NewsPicture }}
                             alt="Image">
                    </div>
                    <div class="media-body">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="media-heading news-title">{{ home.NewsTitle }}</div>
                            <div class="composition">
                                <div class="news-ingredients">Ingrédients</div>
                                {{ home.News }}
                            </div>
                            <div class="caption">
                                <div class="news-description">Description</div>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa
                                qui officia deserunt mollit anim id est laborum
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

