<footer>
    <div class="container-fluid footer">
        <div class="row">

            <ul class="col-md-offset-1 col-md-2 footer_list ">
                <li class="footer-accueil">
                    <a href="index.php">Accueil</a>
                </li>
                <li class="footer-cartes">
                    <a href="?route=carte">Cartes</a>
                </li>
                <li class="footer-lieux">
                    <a href="?route=lieux">Lieux</a>
                </li>
                <li class="footer-evenement">
                    <a href="?route=evenements">Evenements</a>
                </li>
            </ul>
            <ul class="col-md-3 footer_list contact-bloc">
                <li>
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    :
                    <span href="tel">{{ home.tel }}</span></li>
                <li>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    :
                    {{ home.mail }}</li>
            </ul>
            <ul class="col-md-offset-1 col-md-2 footer_list facebook-bloc">
                <li>
                    <a href="https://fr-fr.facebook.com/catalunapizz/">
                        <button type="button" class="btn btn-primary facebook">
                            <span class="f-facebook">f</span>acebook
                        </button>
                    </a>
                </li>
            </ul>
            <ul class="col-md-2 footer_list mention-bloc">
                <li>Mentions légales</li>
            </ul>
        </div>
    </div>
</footer>
