<footer>
    <div class="container-fluid footer">
        <div class="row">

            <ul class="col-md-offset-1 col-md-2 footer_list ">
                <li class="footer-accueil">
                    <a href="index.php">Accueil</a>
                </li>
                <li class="footer-cartes">
                    <a href="?route=carte">Cartes</a>
                </li>
                <li class="footer-lieux">
                    <a href="?route=lieux">Lieux</a>
                </li>
                <li class="footer-evenement">
                    <a href="?route=evenements">Événements</a>
                </li>
            </ul>
            <ul class="col-md-3 footer_list contact-bloc">
                <li>
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    :
                    <span href="tel">{{ home.tel }}</span></li>
                <li>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    :
                    {{ home.mail }}</li>
            </ul>
            <ul class="col-md-offset-1 col-md-2 footer_list facebook-bloc">
                <li>
                    <a href="https://fr-fr.facebook.com/catalunapizz/">
                        <button type="button" class="btn btn-primary facebook">
                            <span class="f-facebook">f</span>acebook
                        </button>
                    </a>
                </li>
            </ul>
            <ul class="linkModal footer_list mention-bloc">
                <li>
                <a href="#" data-toggle="modal" data-target="#infolegale">mentions légales</a>
                </li>
            </ul>
            <!-- modale mentions legales -->
            <div class="modal modal-wide fade" id="infolegale" tabindex="2" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">Informations légales</h3>
                        </div>
                        <div class="modal-body infolegale">

                            <h4>Editeur</h4>
                            <p>
                                Cataluña Pizz - SASU.<br/>
                                Code APE 5610 C.<br/>
                                Siège social : 572 rue verte, 45640 SANDILLON.<br/>
                                Siret : 811 690 924.<br/>
                                Inscrit au registre de la Chambre de commerce du Loiret.<br/>
                                n° TVA intracom: FR 13 811 690 924
                            </p>


                            <h4>Responsable de publication</h4>
                            <p>M. Thomas Chambaudière.</p>


                            <h4>Hébergement</h4>
                            <p>Ce site est hébergé chez <a href="https://www.ovh.com/fr/" target="_blanc">OVH</a>.</p>


                            <h4>Protection des données personnelles sur le site</h4>
                            <p>
                                Ce site respecte les règles suivantes, concernant les données personnelles :<br/>
                                - 1. Pas d’information collectée à l’insu de l’internaute,<br/>
                                - 2. Pas de cession à des tiers.
                                Les informations renseignées par les internautes dans le formulaire de contact ne sont
                                utilisées que pour le
                                traitement des messages laissés par ces derniers.<br/>
                                En conformité avec la loi informatique et libertés, l'internaute peut faire valoir son
                                droit de modification
                                et/ou de suppression des données personnelles qui le concerne. Pour ce faire, il
                                formulera sa demande par
                                courrier simple, à l'attention du responsable de publication et à l'adresse du siège
                                social, précisés plus haut.
                            </p>


                            <h4>Droit d'auteur - Copyright</h4>
                            <p>
                                L'ensemble de ce site relève de la législation française et internationale sur le droit
                                d'auteur et la propriété
                                intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les
                                documents téléchargeables et les
                                représentations iconographiques et photographiques.<br/>
                                La reproduction de tout ou partie de ce site sur un support quelconque, matériel ou
                                immatériel, quel qu'il soit est
                                formellement interdite sauf autorisation expresse du responsable de publication.
                            </p>

                            <h5 class="text-left">Images</h5>

                            <p>
                                Toutes les photographies et images présentes sur ce site - hormis les photographies de
                                la section "Nos réalisations" - sont libre de droits.<br/>
                                Liste des photos :
                            </p>

                            <h4>Fonctionnement</h4>
                            <p>
                                Pour toute remarque ou suggestion sur le fonctionnement du site, veuillez adresser un
                                message via le <a href="index.php?route=evenements#mail-form">formulaire de contact.</a>
                            </p>

                            <h4>Conception et réalisation</h4>
                            <a href="https://wildcodeschool.fr/orleans/" target="_blanc">
                                <img class="legal-logo-wcs" src="img/logo-wcs-ho.png" alt="logo Wild Code School"/>
                            </a>
                            <span>
                                Mehdi MADRE, Maxence GOUDJO, Fabrice GABRIEL CALIXTE
                            </span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modale infos legales -->
        </div>
    </div>
</footer>


