<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="index.php">
                  <div class="navbar-brand">
                    <div class="navbar-brand-img">
                      <img class="logo hidden-sm hidden-xs" src="assets/images/logo_retouchaide.png">
                    </div>
                    <div class="navbar-brand-title-content">
                      <p class="navbar-brand-title">Cataluña Pizz'</p>
                      <p class="navbar-brand-phone-number">06 51 75 79 20</p>
                    </div>
                  </div>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.php">Accueil</a>
                    </li>
                    <li>
                        <a href="?route=carte">Carte</a>
                    </li>
                    <li>
                        <a href="?route=lieux">Lieux</a>
                    </li>
                    <li>
                        <a href="?route=evenements">Événements</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
