@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

@font-face {
   font-family: GrutchShaded;
   src: url("../fonts/GrutchShaded.ttf");
}

.baudi {
    margin-top: 100vh;
    position: absolute;
    background: url("../images/chalkboard.jpg");
    background-size: contain;
}

.center {
    text-align: center;
}

.navbar {
    border-radius: 0;
    height: 100px;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-nav>li>a {
    padding-top: 35px;
    font-family: "Dancing Script", cursive;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.5);
}


.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: calc(15px + 1.5vw);
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #747475;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0);
}

.logo {
    height: 100%;
    width: auto;
}

.navbar-brand {
    float: left;
    height: 100px;
    padding: 0;
    padding-left: 15px;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #747475;
}

.nav>li>a {
    padding-left: 2vw;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.icon-bar {
    margin: 3px;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    margin-top: 30px;
}

.navbar-inverse .navbar-collapse, .navbar-form {
    background-color: transparent;
}

.navbar-collapse {
    border-top: none;
    text-align: center;
    padding-bottom: 35px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width:991px) {
    .navbar-brand {
        padding-top: 35px;
        font-size: 40px;
    }
}

.titleCenter {
    text-align: center;
    margin-top: calc(10px + 10vh);
    margin-bottom: calc(10px + 10vh);
}

.titles {
    display: inline;
    font-family: GrutchShaded, cursive;
    font-size: calc(20px + 6vw);
    color: white;
}

.yellow {
    background: rgba(255, 194, 0);
    height: 2px;
}

.panel-default {
    border-color: rgb(213, 0, 19);
}

.aboutUs {
    font-family: 'Cabin Sketch', cursive;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    font-size: calc(20px + 1vw);
}

.carouselFixed {
    position: fixed;
}

.item {
    height: 100vh;
    width: 100vw;
}

.item>img {
    width: 100%;
    visibility: hidden;
}

@font-face {
    font-family: "ScribblerSerif";
    src: url('../fonts/Font_test/ScribblerSerif-Regular.ttf');
}

@font-face {
    font-family: "ChalkItUp";
    src: url('../fonts/Font_test/DJB Chalk It Up.ttf');
}

.news {
    margin-bottom: 170px;
    margin-top: 0px;
}

.news-title {
    font-family: 'Cabin Sketch', cursive;
    font-size: calc(40px + 3vw);
    margin-bottom: 70px;
    color: white;
}

.news-description * {
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

.media-body {
    text-align: center;
}

.img-news {
    max-width: 800px;
    max-height: 600px;
    margin-top: 80px;
}

.bloc-news {
    margin-top: 80px;
}


footer {
    background-color: black;
}

.footer_list li {
    list-style-type: none;
    color: white;
    margin: 15px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.2em;
}

.footer_list li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.footer_list li a:hover {
    color: #D7DF01;
    border-bottom: 3px solid #D7DF01;
}

.legal-logo-wcs{
    max-width: 50px;
}

.facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 5px;
}

.f-facebook {
    font-size: 1.2em;
}

.facebook-bloc {
    top: 40px;
}

.mention-bloc {
    padding-top: 50px;
}

.contact-bloc {
    top: 30px;
}

.locationsContent {
    padding-top: 100px;
    overflow-x: hidden;
    background: url("../images/chalkboard.jpg");
    background-size: contain;
    padding-bottom: 150px;
}

.agendaPage {
    font-family: "Cabin Sketch", cursive;
    margin-bottom: 50px;
    color: white;
}

.pageHead {
    text-align: center;
    font-size: 50px;
    font-family: "ScribblerSerif", cursive;
    background: url("../images/chalkbg2.png");
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.planningDay {
    color: darkred;
    padding: 10px 30px;
}

.pageBody {
    font-size: 26px;
    text-align: center;
}

.titlewhite {
    color: white;
    background: transparent;
}
.Menu{
    padding-top: 100px;
    color: white;
    background-image: url("../images/chalkboard2.jpg");
    background-size: contain;
    background-repeat: repeat;
}

.paddingul {
    padding-left: 0;
}

.carte {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}



.tomate li {
    padding-top: 20px;
    list-style-type: none;
}

.creme li {
    padding-top: 20px;
    list-style-type: none;
}
.carte_title {
    text-align: center;
}
.dessert {
    padding-top: 20px;
    list-style-type: none;
}

.category_title {
    font-family: GrutchShaded, cursive;
    font-size: calc(30px + 1vw);
    background: url("../images/chalkbg2.png");
    background-size: 100% 100%;
    color: rgb(213, 0, 19);
    text-align: center;
    line-height: 0.75;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pizza_title {
    font-family: "Cabin Sketch", cursive;
    font-size: 40px;
    text-align: left;
}

.ingredients_title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    margin-bottom: 40px;
}

.flagChalk {

    max-height: 7vw;
    vertical-align: baseline;
}

.price {
    text-align: right;
    padding-top: 20px;
    font-family: "Handlee", cursive;
}

.priceXs {
    text-align: center;
    font-family: "Handlee", cursive;
}
.summary {
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    text-align: right;
}


.page {
    width: 40%;
    margin-left: 6.5%;
}

.adminbg {
    height: 100vh;
    width: 100%;
    background: url("../images/adminbg.JPG") center top;
    background-size: cover;
}

.adminContent {
    padding-top: 150px;
}

.adminTitle {
    font-size: calc(20px + 4vw);
    color: black;
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 50px;
}

.adminLinks {
    font-family: serif;
    font-size: 30px;
    background: white;
}

.icon-bar {
    background: black;
}

.navbar-toggle {
    margin-top: 30px;
    border: 1px solid black;
}


.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}

.adminUpdateBtn {
    text-align: center;
}

.adminUpdateBtn {
    text-align: center;
}


.truckDraw {
    display: none;
}

.fields {
    margin-top: 10px;
    margin-bottom: 20px;
}

.updateDays {
    font-size: 36px;
}


    .panel {
        background-color: transparent;
    }

    .fields {
        margin-top: 10px;
        margin-bottom: 20px;
        border: 2px solid white;
    }

    .event-content {
        padding-top: 100px;
        background: url("../images/chalkboard.jpg");
        background-size: contain;
        padding-bottom: 170px;
    }

    .admin-event-content {
        padding-top: 100px;
        color: black;
    }

    .events {
        margin-bottom: 40px;
    }


    .titles {
        text-align: center;
        margin-bottom: 10px;
    }

    .bloc-events {
        margin-top: 70px;
    }

    .img-events {
        max-width: 990px;
        max-height: 600px;
        margin-top: 70px;
    }

    .event-title {
        color: white;
        font-family: "ScribblerSerif", cursive;
        font-size: calc(20px + 3vw);
        margin-bottom: 70px;
    }

    .admin-event-title {
        color: black;
        font-family: "ScribblerSerif", cursive;
        font-size: calc(20px + 3vw);
        margin-bottom: 70px;
    }

    .event-date {
        font-family: 'Cabin Sketch', cursive;
        color: white;
        font-size: calc(20px + 1vw);
    }

    .admin-event-date {
        font-family: 'Cabin Sketch', cursive;
        color: black;
        font-size: calc(20px + 1vw);
    }

    .event-description {
        font-family: 'Cabin Sketch', cursive;
        color: white;
        font-size: calc(20px + 1vw);
    }

    .admin-event-description {
        font-family: 'Cabin Sketch', cursive;
        color: black;
        font-size: calc(20px + 1vw);
    }

    .event-contact {
        font-family: 'Cabin Sketch', cursive;
        margin-left: 5vw;
        margin-right: 5vw;
        color: white;
        font-size: calc(20px + 1vw);
    }

    .linkCenter {
        text-align: center;
    }

    .click-here {
        font-family: 'Cabin Sketch', cursive;
        color: white;
        font-size: calc(10px + 0.5vw);
    }

    .click-here:hover {
        text-decoration:none;
        color: white;
    }

    .arrow_down {
        text-align: center;
    }

    .btn-danger {
        background-color: rgb(213, 0, 19);
    }

    .btn-modif {
        font-size: 30px;
    }

    .contact-us {
        margin-bottom: 30px;
        font-family: "ScribblerSerif", cursive;
        font-size: calc(30px + 6vw);
        color: white;
        text-align: center;
    }

    .mail-content {
        padding-top: 50px;
    }

    .label-mail {
        color: white;
    }

    .error {
        background-color: rgba(255, 23, 23, 0.69);
        font-weight: bold;
    }

    .updateDays {
        font-size: 36px;
    }

    @media only screen and (max-width: 990px) {

        .img-news {
            max-width: 800px;
            max-height: 600px;
            margin-top: 0px;
        }

        .bloc-news {
            margin-top: 50px;

        }

        .news {
            margin-top: 0px;
            margin-bottom: 50px;
        }

        .titles {
            text-align: center;
            margin-bottom: 10px;
        }


        .category_title {
            background: none;
            color: white;
        }

        .events {
            margin-bottom: 40px;
        }
    }

    @media only screen and (max-width: 767px) {
        .navbar-inverse .navbar-collapse, .navbar-form {
            background-color: rgba(255, 255, 255, 1);
        }
    }

    .fields {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .center {
        text-align: center;
    }

    .little-img {
        max-width: 250px;
    }
